<h1>Money Transfer!</h1>
<p-toast position="top-left"></p-toast>
<p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000"></p-confirmDialog>
<div class="moneyTranferList">
  <p-table #dt [value]="moneyTranfers" [lazy]="true" (onLazyLoad)="loadTrans($event)" [paginator]="true" [rows]="rows"
    styleClass="p-datatable-lg p-datatable-striped" [totalRecords]="totalRecords" [loading]="loading"
    [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} transactions"
    [rowsPerPageOptions]="[5,10,25,50]" [scrollable]="true" scrollHeight="400px" [resetPageOnSort]="false"
    selectionMode="single" [(selection)]="selectedMoneyTranfer">

    <ng-template pTemplate="caption">
      <div class="p-d-flex p-ai-center p-jc-between">
        <button pButton pRipple type="button" icon="pi pi-plus" iconPos="left" label="New"
          class="p-button-rounded p-button-success p-mr-2" (click)="createNew()" *ngIf="isRoleUser()"></button>
        <button pButton pRipple type="button" icon="pi pi-check" iconPos="left" label="Approve"
          class="p-button-rounded p-mr-2" (click)="approveSelectedTrans(selectedMoneyTranfer)"
          [disabled]="!selectedMoneyTranfer || !selectedMoneyTranfer.length" *ngIf="isRoleAdmin()"></button>
        <button pButton pRipple type="button" icon="pi pi-times" iconPos="left" label="Reject"
          class="p-button-rounded p-button-danger p-mr-2" (click)="rejectSelectedTrans(selectedMoneyTranfer)"
          [disabled]="!selectedMoneyTranfer || !selectedMoneyTranfer.length" *ngIf="isRoleAdmin()"></button>
        <button pButton pRipple type="button" icon="pi pi-trash" iconPos="left" label="Delete"
          class="p-button-rounded p-button-danger p-mr-2" (click)="deleteSelectedTrans(selectedMoneyTranfer)"
          [disabled]="!selectedMoneyTranfer || !selectedMoneyTranfer.length" *ngIf="isRoleUser()"></button>
      </div>
    </ng-template>

    <ng-template pTemplate="header">
        <th style="width: 3em">
          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
        </th>
        <th>Ngày chuyển tiền </th>
        <th>Tài Khoản nguồn </th>
        <th>Tên tài khoản người nhận </th>
        <th>Ngân hàng nhận</th>
        <th>Số tiền </th>
        <th>Nội dung </th>
        <th>Người trả phí </th>
        <th>Trạng thái giao dịch</th>
        <th></th>
      
    </ng-template>
    <ng-template pTemplate="body" let-moneyTranfer>
      <tr>
        <th style="width: 3em">
          <p-tableCheckbox [value]="moneyTranfer"></p-tableCheckbox>
        </th>
        <td>{{moneyTranfer.moneyTranferDateStr}}</td>
        <td>{{moneyTranfer.sourceAccountEntity.name}}</td>
        <td>{{moneyTranfer.recipientAccountEntity.name}}</td>
        <td>{{moneyTranfer.bankEntity.name}}</td>
        <td>{{moneyTranfer.amount | currency: 'USD'}}</td>
        <td>{{moneyTranfer.content}}</td>
        <td>{{moneyTranfer.payer}}</td>
        <td>{{moneyTranfer.status}}</td>
        <td>
          <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2"
            (click)="editTrans(moneyTranfer)" *ngIf="isRoleUser()"></button>
          <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
            (click)="deleteTrans(moneyTranfer)" *ngIf="isRoleUser()"></button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary">
      <div class="p-d-flex p-ai-center p-jc-between">
        In total there are {{moneyTranfers ? moneyTranfers.length : 0 }} products.
      </div>
    </ng-template>
  </p-table>
</div>